footer{
    background-color: whitesmoke;
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    .footer_left{
        width: 50%;
        .link_cols_wrapper{
            display: flex;
            align-items: start;
            justify-content: space-evenly;
            .links_col{
                display: flex;
                flex-direction: column;
                align-items: start;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    margin: 30px 0;
                    li{
                        margin: 5px 0px;
                        letter-spacing: 2.5px;
                        color: gray;
                    }
                }
            }   
        }
    }
    .vertical{
        height: 500px;
        border-left: 2px solid gray;
    }
    .footer_right{
        width: 50%;
        display: flex;
        justify-content: center;
        .footer_right_content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;

        }
    }
}